In [1]:
import pandas as pd

In [2]:
#manual dataframes

In [3]:
df =pd.DataFrame([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]])

print(df)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [4]:
df.head(2)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [5]:
df.tail(2)

    0   1   2   3   4
2  11  12  13  14  15
3  16  17  18  19  20

In [6]:
df =pd.DataFrame([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]],columns= ["A","B","C","D","E"],index= ["W","X","Y","Z"])

print(df)

    A   B   C   D   E
W   1   2   3   4   5
X   6   7   8   9  10
Y  11  12  13  14  15
Z  16  17  18  19  20

In [7]:
df.columns
#gives the no of columns, ie 0 to 5, =>0,1,2,3,4
#step 1=> refers to the size between consecutive indices

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [8]:
df.index

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [9]:
df.index

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [10]:
df.info() #gives info about our dataframes

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, W to Z
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
 3   D       4 non-null      int64
 4   E       4 non-null      int64
dtypes: int64(5)
memory usage: 192.0+ bytes

In [11]:
 df.describe() #gives  data like mean,stdeviation, min max etc

               A          B          C          D          E
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    8.500000   9.500000  10.500000  11.500000  12.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     4.750000   5.750000   6.750000   7.750000   8.750000
50%     8.500000   9.500000  10.500000  11.500000  12.500000
75%    12.250000  13.250000  14.250000  15.250000  16.250000
max    16.000000  17.000000  18.000000  19.000000  20.000000

In [12]:
df.nunique() #gives how many unique values are in each column ,vertically downward

A    4
B    4
C    4
D    4
E    4
dtype: int64

In [13]:
df =pd.DataFrame([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]],columns= ["A","B","C","D","E"],index= ["W","X","Y","Z"])
x=df["A"].unique() #gives  all the unique element in column A
print(x)
y=df["B"].unique() #gives all the unique element in column b
print(y)

[ 1  6 11 16]
[ 2  7 12 17]

In [14]:
df =pd.DataFrame([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]],columns= ["A","B","C","D","E"],index= ["W","X","Y","Z"])

df.shape

(4, 5)

In [15]:
df.size #5 columns 4 rows, 20 elements

20